<% content_for :title, 'Sample ' + @sample.sample_name %>
<div class="container">

    <h2 class = "mt-3">
    Sample Information
    </h2>

    <br>
    
    <div id="detail_box">
        <div class="d-flex">
        <% @short_attrs.each do |attrs| %>
            <div class="w-50">
            <table class="detail-table table table-bordered table-sm">
                <% attrs.each do |attr| %>
                <tr>
                    <% dis_attr = attr %>
                    <% dis_attr = dis_attr.gsub(/^n_/, "") %> 
                    <% dis_attr = dis_attr.gsub(/^c_/, "") %> 
                    <td class="label"><%= dis_attr %></td>
                    <td>
                    <%= @sample[attr] %>
                    </td>
                </tr>
                <% end %>
            </table>
            </div>
        <% end %>
        </div>
    </div>
    <br />

    <div class = "container ">
        <%if @inf_exist %>
            <div>
            <button class = "btn btn-secondary">
                <%#= link_to 'Download sequencing data', download_seq_project_sample_path %>
                <%= link_to 'Download deconvolution result', download_inf_project_sample_path %><br/>
                <%#= link_to 'Edit', edit_project_sample_path(@sample.project, @sample.id) %> 
                <%#= link_to 'Delete', [@sample.project, @sample],
                method: :delete,
                data: { confirm: 'Are you sure to delete ' + @sample.sample_name + '?'} %>
            </button>
            </div>
            <div id="viz_sample_inf" class = "">
            </div>
            <%= javascript_pack_tag "static_inf" %>
        <% else %>
            <h2> * Deconvolution result does NOT exist for this sample. </h2>
        <%end%>
    </div>
    
</div>
    
