<% content_for :title, "Analysis" %>
<div class="container">
    <h1>
        Analyses
    </h1>
    <br />


    <div id="analyses_list" class=".container-fluid">
        <div class="row">
            <% @analyses.each do |analysis| %>
                <div class="col-md-4 module_card">
                    <div class="card_img">
                        <% target = "/submit/" + analysis.mid.to_s + '/'%>
                        <% if analysis.cover_image.nil? %>
                            <%=link_to image_tag("628.png"), target%>
                        <% else %> 
                            <%=link_to image_tag(analysis.cover_image), target%>
                        <% end %>
                        
                    </div>

                    <div class="card_body">
                        <h5>
                            <%=analysis.name%>
                        </h5>

                        <p>
                            <%=analysis.description%>
                        </p>
                    </div>
                        
                </div>
            <%end %>

        </div>

    </div>
</div>