<div class="container">
    <h1>
        Analyses
    </h1>
    <br />


    <div id="analyses_list" class=".container-fluid">
        <div class="row">
            <% @analyses.each do |analysis| %>
                <div class="col-md-4 module_card">
                    <div class="card_img">
                        <% if analysis.cover_image.nil? %>
                            <%= image_tag("628.png")%>
                        <% else %> 
                            <%= image_tag(analysis.cover_image)%>
                        <% end %>
                        
                    </div>

                    <div class="card_body">
                        <h5>
                            <%=analysis.name%>
                        </h5>

                        <p>
                            <%=analysis.description%>
                        </p>
                    </div>
                        
                </div>
            <%end %>

        </div>

    </div>
</div>