- content_for :head
    =javascript_pack_tag 'visualizer'
    =javascript_pack_tag 'analysis-viz'
    =stylesheet_pack_tag 'analysis-viz'


.viz-container
    =render 'partials/viz_sidebar'
    .vapp-container
        #vapp
=javascript_pack_tag "viz/#{@analysis.visualizer.js_module_name}"