<footer class="footer page-footer">

    <div class="container">
        <div class="row">
            
            <div class="col-md-2 offset-1 mr-4">
                    <h4>TIMEDB</h4>
                    <% unless controller_name == "welcome" && action_name == "contact" %>
                    <div >
                    <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=58ejzqlhybf&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async"></script>
                    </div>
                    <% end %>
            </div>

            <div class="col-md-2">
                <h4>Database</h4>
                <ul>
                    <li><a href='/database/overview/'>Overview</a></li>
                    <li><%=link_to 'Cancers Detail', cancers_path%></li>
                    <li><%=link_to 'Projects Detail', projects_path%></li>
                    <li><%=link_to 'Samples Detail', samples_path%></li>
                </ul>
            </div>

            <div class="col-md-2">
                <h4>
                <a href="/submit/analyses" style="color:white;">Analysis</a>
                </h4>
            </div>
            <div class="col-md-2">
                <h4>Workspace</h4>
                <ul>
                    <li><a href="/submit/job-query">My Datasets</a></li>
                    <li><a href="/submit/job-query">Job Query</a></li>
                </ul>
            </div>

            <div class="col-md-2">
                <h4>Support</h4>
                <ul>
                    <li><a href='/tutorial'>Tutorial</a></li>
                    <li><a href='/contact'>Contact Us</a></li>
                </ul>
            </div>

        </div>

        <hr>

        <div class="row">
            <div class="col-lg-9 copyright offset-1">
                <%= Date.today.year %> © City University of Hong Kong. All rights reserved.
                <a href="/terms">Terms and conditions</a>
            </div>
        </div>
    </div>
</footer>
