<footer class="footer page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                    <h4>TIMEDB</h4>
                
                    
            </div>

            <div class="col-md-2">
                <h4>Database</h4>
                <ul>
                    <li><a href='/database/overview/'>Database Information</a></li>
                    <li><%=link_to 'Cancers Detail', cancers_path%></li>
                    <li><%=link_to 'Projects Detail', projects_path%></li>
                    <li><%=link_to 'Samples Detail', samples_path%></li>
                </ul>
            </div>

            <div class="col-md-2">
                <h4>Analysis</h4>
                <ul>
                    <li><a href="/submit/analyses">Modules</li>
                    <li><a href="/submit/pipelines">Pipelines</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>Workspace</h4>
                <ul>
                    <li><a href="/submit/job-query">Datasets</a></li>
                    <li><a href="/submit/job-query">Job query</a></li>
                </ul>
            </div>

            <div class="col-md-2">
                <h4>Support</h4>
                <ul>
                    <li><a href='/'>Tutorial</a></li>
                    <li><a href='/contact'>Contact Us</a></li>
                </ul>
            </div>

        </div>

        <hr>

        <div class="row">
            <div class="col-lg-9 copyright">
                <%= Date.today.year %> © City University of Hong Kong. All rights reserved.
                <a href="terms">Terms and conditions</a>
            </div>
        </div>
    </div>
</footer>
