<section class="privacy">
<div class="container">
<h1 class = "mt-5">Privacy Policy for TIMEDB</h1>

<p>At TIMEDB, accessible from https://timedb.deepomics.org, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by TIMEDB and how we use it.</p>

<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in TIMEDB. This policy is not applicable to any information collected offline or via channels other than this website.</p>

<h2>Consent</h2>

<p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

<h2>Information we collect</h2>

<h4>Log Files</h4>

<p>TIMEDB follows a standard procedure of using log files. These files log visitors when they visit websites. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The only purpose of logging is to debug and resolve technical problems.

<h4>Cookies</h4>

<p>Like any other website, TIMEDB uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to identify anonymous sessions and may also be used to save your page preferences in the future.</p>

<p>TIMEDB requires Javascript to be enabled to render the visualization. TIMEDB does not track users or collect statistics through Javascript.</p>

<p>TIMEDB does not contain any third-party advertisement.</p>

<h4>Uploaded Data</h4>

<p>TIMEDB needs to store and serve uploaded data files in order to provide its basic functionality. Your data will be stored securily on a server located in the City University of Hong Kong. Without explicit permission from you, we will not log or access the data files uploaded by you and will not disclose the data to any third-party.</p>
<p>User uploaded data will be deleted entirely if the user has been inactive in the last 48 hours.</p>
<p>However, we suggest you remove any sensitive information in your data before uploading, such as patients' names and any other personal information.</p>

<h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>

<p>Under the CCPA, among other rights, California consumers have the right to:</p>
<p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
<p>Request that a business delete any personal data about the consumer that a business has collected.</p>
<p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

<h2>GDPR Data Protection Rights</h2>

<p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
<p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
<p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
<p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
<p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
<p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
<p class = "mb-5">If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>
</div>
</section>