<head>
  <script type="text/javascript" charset="utf8" src="public/data/elasticlunr.min.js"></script>
  <script type="text/javascript" charset="utf8" src="public/data/elasticlunr.js"></script>
</head>
<% content_for :title, 'Tutorial' %>
<div id="tutorial">

</div>