// Place all the styles related to the Database controller here.
// They will automatically be included in application.css.
// You can use Sass here: https://sass-lang.com/

body.database
    //#wrapper
        //margin: 2em
    #world-map
        width: 960px
    .navbar
        z-index: 1
    .navbar.navbar-light
        border-bottom: 1px solid #aaa
            
            
                

    