// Place all the styles related to the Submit controller here.
// They will automatically be included in application.css.
// You can use Sass here: https://sass-lang.com/
// body.submit
//     h1
//         color: #000
// .viz-container
//     display: flex

// #canvas
//     flex: 50%

// #v-editor
//     flex: 50%

.col-container 
  display: table //* Make the container element behave like a table */
  width: 100% //* Set full-width to expand the whole page */


.col 
  display: table-cell //* Make elements inside the container behave like table cells */
