<% content_for :title, 'Tutorial Analysis' %>

            <div class="row">
                <nav id="sidebar" class="active">
                    <div class="sidebar-content">
                        <div>
                            <a href="/tutorial">
                            <p>
                            <i class="fa fa-arrow-left"></i>Back
                            </p>
                            </a>
                        </div>
                        <div class="active">
                            <a href="/tutorial/analysis/1">
                            <p style="color: #cc4f78">Introduction
                            </p>
                            </a>
                        </div>
                        <div class="sidebar-tutorial-toggle">
                            <a href="#">
                            <p style="color: #cc4f78">Usages &nbsp<i class="fa fa-angle-down" id="arrow"></i>
                            </p>
                            </a>
                            <ul id="side-tutorial-bar" class="">
                                <a href="/tutorial/analysis/2" ><li style="color: #cc4f78">How to Complete an Analysis</li></a>
                                <a href="/tutorial/analysis/3"><li style="color: #cc4f78">What Analysis We Have</li></a>
                            </ul>
                        </div>
                        <div class="">
                            <a href="/tutorial/database/1">
                            <p style="color :#1cb0b6">Database documentation
                            </p>
                            </a>
                        </div>
                        <div class="">
                            <a href="/tutorial/analysis/4">
                            <p class="">Help
                            </p>
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="col-md-8 offset-1">
                <br><br>
                    <div >

                        <h1 class ="title">

                            <a href="/tutorial"><i class="fa fa-backward"></i></a> Analysis Introduction
                        </h1><br>
                        <div class="page">
                            <div class="headers">
                                <h1>Welcome to TIMEDB Analysis</h1>
                                <p>TIMEDB provides 18 online tumor immune microenvironment analyses,details are shown in the following table:</p>
                                <div >
                                <table class="table table-border analysis-table">
                                    <thead><tr>    <th style="border-left: 1px solid #ddd;">Analysis Category</th>  <th>Analysis</th> </tr><thead>
                                    <tbody>
                                    <tr>    <td rowspan="5" style="font-weight: bold;">Regression Tools</td>   <td>TIMEDB Decov CIBERSORT</td>  </tr>
                                    <tr>    <td>TIMEDB Decov TIMER</td>  </tr>
                                    <tr>    <td>TIMEDB Decov EPIC </td>  </tr>
                                    <tr>    <td>TIMEDB Decov ABIS</td>  </tr>
                                    <tr>    <td>TIMEDB Decov quanTIseq</td>  </tr>
                                    <tr>    <td rowspan="3"  style="font-weight: bold;">Enrichment Tools</td>   <td>TIMEDB Decov xCell</td>  </tr>
                                    <tr>    <td>TIMEDB Decov MCPcounter</td>  </tr>
                                    <tr>    <td>TIMEDB Decov ConsensusTME</td>  </tr>
                                    <tr>    <td  style="font-weight: bold;">Unsupervised Tools</td>   <td>TIMEDB Decov Linseed</td>  </tr>
                                    <tr>    <td rowspan="2"  style="font-weight: bold;">Consensus Tools</td> <td>TIMEDB Consensus array</td>  </tr>
                                    <tr>    <td>TIMEDB Consensus RNA-Seq</td>  </tr>
                                    <tr>    <td  style="font-weight: bold;">Datasets Comparison</td> <td>TIMEDB Batch Effect</td>  </tr>
                                    <tr>    <td rowspan="2"  style="font-weight: bold;">TIME Estimation Comparsion</td>   <td>TIMEDB Comparison array</td>  </tr>
                                    <tr>    <td>TIMEDB Comparison RNA-Seq </td>  </tr>
                                    <tr>    <td rowspan="2"  style="font-weight: bold;">Patient Subtyping</td>           <td>TIMEDB Cell Fraction Subtyping</td>  </tr>
                                    <tr>    <td>TIMEDB C1-C6 Subtyping</td>  </tr>
                                    <tr>    <td rowspan="2"  style="font-weight: bold;">Survival Analysis</td>   <td>TIMEDB HR OR</td>  </tr>
                                    <tr>    <td>TIMEDB KM Estimator</td>  </tr>
                                    <tr>    <td rowspan="2"  style="font-weight: bold;">Colrrelation Analysis</td>   <td>TIMEDB Cell Interaction</td>  </tr>
                                    <tr>    <td>TIMEDB Cell Correlation</td>  </tr>
                                    <tr>    <td  style="font-weight: bold;">Different Expression</td>   <td>TIMEDB Immunoregulator</td>  </tr>
                                    <tbody>
                                </table>
                                </div>
                                <br>
                                <h2>Analysis submit and check</h2>
                                <p>TIMEDB provides a friendly submission page that guides users through analysis step by step.</p>
                                <p>Users could view analysis detailed tutorial, run demo and view demo results with one click. </p>
                                <img src="/public/data/image/tutorial/a-1-1ppt.png" class="page-image">
                                <br>
                                <p>During the submission process, the file format and parameters are explained in detail. Please noted that uploaded files should contain at least two samples. </p>
                                <img src="/public/data/image/tutorial/a-1-2ppt.gif" class="page-image">
                                <br>
                                <p>For results, TIMEDB provides results downloads, as well as interactive visualization. </p>
                                <img src="/public/data/image/tutorial/a-1-3ppt.gif" class="page-image">
                                <br>
                                <p>Click to view the detailed steps of submitting the analysis.</p>
                                <a href = "/tutorial/analysis/2">
                                <button class="btn-1 btn" >Analysis Steps</button>
                                </a>
                                <br>
                                <hr>
                                <h2>Contact with us if you meet some problems</h2>
                                <p><a href="/tutoral/analysis/4">You may contact us:</a></p>
                                <p>Dr LI, Shuaicheng</p>
                                <p>Email: <a href="mailto:shuaicli@cityu.edu.hk">shuaicli@cityu.edu.hk</a></p>
                            </div>
                            <br><br>                           

                        </div>
                    </div>
                </div>
            </div>