<% content_for :title, 'Tutorial Analysis' %>

            <link rel="stylesheet" type="text/css" href="chrome-extension://ckkdlimhmcjmikdlpkmbgfkaikojcbjk/themes/github.css" id="_theme">

            <br><br>
            <div class="row">
                <div class="sidebar">
                        <ul class="nav flex-column ">
                            <a href="/tutorial/analysis/1">
                                <li class="nav-item" id ="intro">
                                    <p class="nav-link" >Introduction</p>
                                </li>
                            </a>
                            <br>
                            <a href="/tutorial/analysis/2">
                                <li class="nav-item" id="1">
                                    <p class="nav-link ">How to Complete an Analysis</p>
                                </li>
                            </a>
                            <br>
                            <a href="/tutorial/analysis/3">
                                <li class="nav-item"id="2">
                                    <p class="nav-link" >Analysis Tutorial</p>
                                </li>
                            </a>
                            <br>
                            <a href="/tutorial/analysis/4">
                                <li class="nav-item" id="3">
                                    <p class="nav-link" href="#">How to Ask Us for Help</p>
                                </li>
                            </a>
                        </ul>
                        <br>
                </div>

                <div class="col-md-8 offset-1">
                    <div>

                        <h1 class ="title">
                            <a href="/tutorial"><i class="fa fa-caret-left" @click="back"></i></a>How to ask us for help
                        </h1><br>
                        <div class="page">
                            <div>
                                <div class="headers">
                                    <h1>Team</h1>
                                    <p>Based in City University of Hong Kong, led by Dr. Shuaicheng LI, we are a multidisciplinary group of top-ranking and aspiring undergraduates, research assistants and Ph.D. students working tirelessly to bring you a brand-new experience in bioinformatics research that frees you from all the chores and empowers your journey of discovery.</p>
                                        <div class="team-member-container">
                                            <div class="team-member-links"><a class="link" href="http://www.cs.cityu.edu.hk/profile/shuaicli.html"><i
                                                        class="fas fa-home"></i></a><a class="link link-m" 
                                                    href="mailto:shuaicli@cityu.edu.hk"><i class="fas fa-envelope"></i></a></div>
                                            <div class="team-member"><img alt="Dr. LI Shuaicheng" class="avatar"
                                                    src="/public/data/image/tutorial/boss.jpg">
                                                <div class="intro">
                                                    <h2>Dr. LI Shuaicheng</h2>
                                                    <h5>Supervisor</h5>
                                                    <p>Supervisor</p>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="markdown-body" >                     
                                    <blockquote>
                                        <div class='row'>
                                            <div class="col-md-5">
                                                <h3>Contact Us</h3>
                                                <p>Dr LI, Shuaicheng</p>
                                                <p>Tat Chee Avenue, Kowloon, Hong Kong</p>
                                                <p>Email: <a href="mailto:shuaicli@cityu.edu.hk">shuaicli@cityu.edu.hk</a></p>
                                            </div>


                                            
                                            <div class="col-md-3">
                                                <h3>About Us</h3>
                                                <p>Creating An Integrated Cloud-based System for Bioinformatics Visualization is our passion.</p>
                                                <p><a href="/terms">Privacy Policy</a></p>
                                            </div>
                                        </div>
                                    </blockquote>
                                    </div>
                                </div>

                            </div>
                            <br><br>
    

                        </div>      
                    </div>
                </div>
            </div>