<% content_for :title, 'Tutorial Analysis' %>

<% content_for :head do %>
  
  <%= javascript_pack_tag "tutorial" %>
<% end %>

                <div class="top-reminder text-center">
                    <p class="text-center">
                    You can click images to enlarge them and check details.
                    </p>
                </div>

            <div class="row">
                <nav id="sidebar" class="active">
                    <div class="sidebar-content">
                        <div>
                            <a href="/tutorial">
                            <p>
                            <i class="fa fa-arrow-left"></i>Back to TIMEDB
                            </p>
                            </a>
                        </div>
                        <div class="sidebar-tutorial-toggle">
                            <a href="#">
                            <p style="color: #35478E">Database &nbsp<i class="fa fa-angle-down" id="arrow"></i>
                            </p>
                            </a>
                            <ul id="side-tutorial-bar" class="">
                                <a href="/tutorial/database/1" ><li style="color: #35478E">Database Introduction</li></a>
                                <a href="/tutorial/database/2" ><li style="color: #35478E">How to View Database Information</li></a>
                                <%# <a href="/tutorial/database/3"><li style="color: #35478E">How to Add Data to Your Workspace</li></a> %>
                                <a href="/tutorial/database/3"><li style="color: #35478E">How to Download Database Data</li></a>
                                <%# <a href="/tutorial/database/5"><li style="color: #35478E">How to View the Visualizations</li></a> %>
                                <a href="/tutorial/database/4"><li style="color: #35478E">Visualizations in the Database</li></a>
                            </ul>
                        </div>
                        <div class="sidebar-tutorial-toggle-1">
                            <a href="#">
                            <p style="color: #cc4f78">Analysis &nbsp<i class="fa fa-angle-down" id="arrow-1"></i>
                            </p>
                            </a>
                            <ul id="side-tutorial-bar-1" class="">
                                <a href="/tutorial/analysis/1"><li style="color: #cc4f78">Analysis Introduction</li></a>
                                <a href="/tutorial/analysis/2" ><li style="color: #cc4f78" class="active1">How to Complete an Analysis</li></a>
                                <a href="/tutorial/analysis/3"><li style="color: #cc4f78">What Analysis We Have</li></a>
                            </ul>
                        </div>
                        <div class="">
                            <a href="/tutorial/analysis/4">
                            <p>Help
                            </p>
                            </a>
                        </div>
                        <div class="">
                            <a href="/tutorial/mub">
                                <p>Maintainance</p>
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="top-reminder text-center">
                    <p class="text-center">
                    You can click images to enlarge them and check details.
                    </p>
                </div>

                <div class="col-md-8 offset-1">
                            <br><br>

                    <div >

                        <h1 class ="title">
                            <a href="/tutorial"><i class="fa fa-backward" @click="back"></i></a> How to Complete an Analysis
                        </h1><br>
                        <div class="page">
                            <div class="headers ">
                                <br><hr><br>
                                <h1>Analysis steps</h1>
                                <p>TIMEDB provides fruitful analysis for data exploration. The remaining part of this tutorial will take TIMEDB Deconv quanTIseq as an example to introduce the detailed procedure of task submission.</p>
                                <br>
                                <hr>
                                <h3>Step 1: choosing the analysis.</h3>
                                <p>TIMEDB contains abundant different analyses, including regression tools, survival analysis, etc. Users can select the analysis they want to enter the detailed submission page.</p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="/public/data/image/tutorial/analysis-select.png" class="border-image enlargeImages" style="width:420px; height: 300px;">
                                    </div>
                                    <div class="col-md-2">
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <img src="/public/data/image/tutorial/analysis-detail.png"  class="border-image enlargeImages" style="width:420px; height: 300px;">
                                    </div>
                                </div>
                                <br>
                                <hr>
                                <h3>Step 2 (optional): reading the analysis helper and run the demo file.</h3>
                                <p>After selecting one analysis, the corresponding analysis helper will be poped out, where the file format and parameters will be explained in detail.</p>
                                <p>Each anlaysis provides a "RUN DEMO" button where users can run the demo task with one just click. </p>
                                <p>Users can also click the "Demo Result" button to directly view the visualizaiton result of demo tasks.</p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="/public/data/image/tutorial/analysis-tutorial.png" class="border-image enlargeImages" style="width:420px; height: 300px;">
                                    </div>
                                    <div class="col-md-2">
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <img src="/public/data/image/tutorial/analysis-demo.png"  class="border-image enlargeImages" style="width:420px; height: 300px;">
                                    </div>
                                </div>
                                <br>
                                <hr>
                                <h3>Step 3: uploading the file</h3>
                                <p>Users can prepare their own files to upload or select TIMEDB DataSets directly. TIMEDB provides demo files to help user get familiar with the file format.</p>
                                <p style="color: #00008b"><i>Please be noted that all submitted file should be of CSV format.</i></p>

                                
                                <img src="/public/data/image/tutorial/analysis-upload.png"  class="border-image enlargeImages" style="width: 300px; height: 200px;">
                                  
                                <img src="/public/data/image/tutorial/input-modal.png" class="border-image enlargeImages" style="width: 300px; height: 200px;">
                                    
                                <img src="/public/data/image/tutorial/select-dataset.png"  class="border-image enlargeImages" style="width: 300px; height: 200px;">
                                    

                                <br>
                                <br>
                                <hr>
                                <h3>Step 4: setting parameters</h3>
                                <p>Users can fill analysis paramters guided by detailed paramter explaination.</p>
                                <img src="/public/data/image/tutorial/analysis-parameter.png" class="page-image enlargeImages">
                                <br>
                                <br>
                                <hr>
                                <h3>Step 5: submit and view the results</h3>
                                <p>After tasks are submitted, users will get corresponding task ids, which are automatically added to the user's workspace.</p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="/public/data/image/tutorial/analysis-waiting.png" class="border-image enlargeImages" style="width:420px; height: 300px;">
                                    </div>
                                    <div class="col-md-2">
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <img src="/public/data/image/tutorial/analysis-submitted.png"  class="border-image enlargeImages" style="width:420px; height: 300px;">
                                    </div>
                                </div>
                                <p>In the workspace section, you can view the status of task. There are three task status: running, finished, and failed, which respectively indicate that the task is in progress, completed and is failed. Users can click "check" to view task results and interactive visualizations.</p>
                                <img src="/public/data/image/tutorial/task-list.png" class="border-image enlargeImages" style="width: 300px; height: 200px;">
                                <img src="/public/data/image/tutorial/ouput-list.png" class="border-image enlargeImages" style="width: 300px; height: 200px;">
                                <img src="/public/data/image/tutorial/task-visualization.png" class="border-image enlargeImages" style="width: 300px; height: 200px;">
                                <br>
                                <br><hr><br>
                                <h1>Directly submit the dataset for analysis in "Datasets page"</h3>
                                <p>On the dataset page, TIME provide support to submit a dataset directly for analysis.</p>
                                <h3>Step1: Choosing one dataset and click "Run Analysis".<h3>
                                <img src="/public/data/image/tutorial/dataset-run-analysis.png" class="page-image enlargeImages">

                                <h3>Step2: Choosing one analysis.</h3>
                                <img src="/public/data/image/tutorial/analysis-select.png" class="page-image enlargeImages">

                                <h3>Step3: Checking the dataset name.</h3>
                                <img src="/public/data/image/tutorial/analysis-confirm-dataset.png" class="page-image enlargeImages">

                                <h3>Step4: Setting parameters and submitting the analysis.</h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="/public/data/image/tutorial/analysis-parameter.png" class="border-image enlargeImages" style="width:420px; height: 300px;">
                                    </div>
                                    <div class="col-md-2">
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <img src="/public/data/image/tutorial/analysis-submitted.png"  class="border-image enlargeImages" style="width:420px; height: 300px;">
                                    </div>
                                </div>

                            </div>
                            <br><br>
                        </div>
                        <div id="imageModal" class="modal">
                            <img class="modal-content" id="modalImage">
                            <div id="caption"></div>
                            <span class="close">&times;</span>

                        </div>
                    </div>
                </div>
            </div>