<% content_for :title, 'Tutorial Analysis' %>

            <div class="row">
                <nav id="sidebar" class="active">
                    <div class="sidebar-content">
                        <div>
                            <a href="/tutorial">
                            <p>
                            <i class="fa fa-arrow-left"></i>Back to TIMEDB
                            </p>
                            </a>
                        </div>
                        <div class="sidebar-tutorial-toggle">
                            <a href="#">
                            <p style="color: #35478E">Database &nbsp<i class="fa fa-angle-down" id="arrow"></i>
                            </p>
                            </a>
                            <ul id="side-tutorial-bar" class="">
                                <a href="/tutorial/database/1" ><li style="color: #35478E">Database Introduction</li></a>
                                <a href="/tutorial/database/2" ><li style="color: #35478E">How to View Database Information</li></a>
                                <%# <a href="/tutorial/database/3"><li style="color: #35478E">How to Add Data to Your Workspace</li></a> %>
                                <a href="/tutorial/database/3"><li style="color: #35478E">How to Download Database Data</li></a>
                                <%# <a href="/tutorial/database/5"><li style="color: #35478E">How to View the Visualizations</li></a> %>
                                <a href="/tutorial/database/4"><li style="color: #35478E">Visualizations in the Database</li></a>
                            </ul>
                        </div>
                        <div class="sidebar-tutorial-toggle-1">
                            <a href="#">
                            <p style="color: #cc4f78">Analysis &nbsp<i class="fa fa-angle-down" id="arrow-1"></i>
                            </p>
                            </a>
                            <ul id="side-tutorial-bar-1" class="">
                                <a href="/tutorial/analysis/1"><li style="color: #cc4f78">Analysis Introduction</li></a>
                                <a href="/tutorial/analysis/2" ><li style="color: #cc4f78" class="active1">How to Complete an Analysis</li></a>
                                <a href="/tutorial/analysis/3"><li style="color: #cc4f78">What Analysis We Have</li></a>
                            </ul>
                        </div>
                        <div class="">
                            <a href="/tutorial/analysis/4">
                            <p>Help
                            </p>
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="col-md-8 offset-1">
                            <br><br>

                    <div >

                        <h1 class ="title">
                            <a href="/tutorial"><i class="fa fa-backward" @click="back"></i></a> How to Complete an Analysis
                        </h1><br>
                        <div class="page">
                            <div class="headers ">
                                <br><hr><br>
                                <h1>Analysis steps</h1>
                                <p>TIMEDB analyses are used in much the same way.</p>
                                <h3>Step one: choose the analysis.</h3>
                                <p>In TIMEDB, <a href="/submit/analysesCategory?cname=Regression+Tools">Regression tools</a> include ABIS, quanTIseq, CIBERSORT and other analyses. Users can select the analysis according to the number of datasets they upload and the analysis method.</p>
                                <img src="/public/data/image/tutorial/a-2-1ppt.gif" class="page-image">
                                <hr>
                                <h3>Step 2 (optional): read the analysis helper, run the demo file.</h3>
                                <p>After selecting one analysis, the user entering for the first time will directly see the analysis helper, where the file format and parameters will be explained in detail.</p>
                                <img src="/public/data/image/tutorial/a-2-2ppt.gif" class="page-image">
                                <p>In each anlaysis, TIMEDB provides a "RUN DEMO" button. Users can run the demo task with one just click. </p>
                                <img src="/public/data/image/tutorial/a-2-3ppt.gif" class="page-image">
                                <hr>
                                <h3>Step three: upload the file</h3>
                                <p>Users can prepare their own files or select their own DataSets directly from the workspace for uploading. (<a href="/tutorial/database/3">how to add datasets in workspace</a>)</p>
                                <img src="/public/data/image/tutorial/a-2-4ppt.gif" class="page-image">
                                <p>Users can check the file format and download the demo file in "upload page". The uploaded files should contain at least two samples. </p>
                                <img src="/public/data/image/tutorial/a-2-5ppt.gif" class="page-image">
                                <p style="color: #00008b"><i >In the document submission section, all submitted file should be CSV format.</i></p>
                                <hr>
                                <h3>Step four: set parameters</h3>
                                <p>Users can fill the desired analysis paramters guided by detailed paramter explaination.</p>
                                <img src="/public/data/image/tutorial/a-2-6ppt.gif" class="page-image">
                                <hr>
                                <h3>Step five: submit and view the results</h3>
                                <p>After the task is submitted, the user gets a task id, which is automatically added to the user's workspace.</p>
                                <img src="/public/data/image/tutorial/a-2-3ppt.gif" class="page-image">
                                <p>In the workspace section, you can view the status of task. There are three task status: running, finished, and failed, which respectively indicate that the task is in progress, the task is completed and the task is failed. Click "check" to view the task results and interactive visualization.</p>
                                <img src="/public/data/image/tutorial/a-2-7ppt.gif" class="page-image">

                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>