<% content_for :title, 'Tutorial Database' %>

            <div class="row">
                <nav id="sidebar" class="active">
                    <div class="sidebar-content">
                        <div>
                            <a href="/tutorial">
                            <p>
                            <i class="fa fa-arrow-left"></i>Back to TIMEDB
                            </p>
                            </a>
                        </div>
                        <div class="sidebar-tutorial-toggle">
                            <a href="#">
                            <p style="color: #35478E">Database &nbsp<i class="fa fa-angle-down" id="arrow"></i>
                            </p>
                            </a>
                            <ul id="side-tutorial-bar" class="">
                                <a href="/tutorial/database/1" ><li style="color: #35478E">Database Introduction</li></a>
                                <a href="/tutorial/database/2" ><li style="color: #35478E" class="active1">How to View Database Information</li></a>
                                <%# <a href="/tutorial/database/3"><li style="color: #35478E">How to Add Data to Your Workspace</li></a> %>
                                <a href="/tutorial/database/4"><li style="color: #35478E">How to Download Database Data</li></a>
                                <%# <a href="/tutorial/database/5"><li style="color: #35478E">How to View the Visualizations</li></a> %>
                                <a href="/tutorial/database/6"><li style="color: #35478E">Visualizations in the Database</li></a>
                            </ul>
                        </div>
                        <div class="sidebar-tutorial-toggle-1">
                            <a href="#">
                            <p style="color: #cc4f78">Analysis &nbsp<i class="fa fa-angle-down" id="arrow-1"></i>
                            </p>
                            </a>
                            <ul id="side-tutorial-bar-1" class="">
                                <a href="/tutorial/analysis/1"><li style="color: #cc4f78">Analysis Introduction</li></a>
                                <a href="/tutorial/analysis/2" ><li style="color: #cc4f78">How to Complete an Analysis</li></a>
                                <a href="/tutorial/analysis/3"><li style="color: #cc4f78">What Analysis We Have</li></a>
                            </ul>
                        </div>
                        <div class="">
                            <a href="/tutorial/analysis/4">
                            <p>Help
                            </p>
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="col-md-8 offset-1">
                    <br><br>
                    <div>

                        <h1 class ="title">
                            <a href="/tutorial"><i class="fa fa-backward"></i></a> How to View Database Information
                        </h1><br>
                        <div class="page">
                            <div>
                                <div class="headers">
                                    <h1>1. Overview Information</h1>
                                    <br>
                                    <p>We have <b>43</b> cancer types, <b>545</b> datasets, and <b> 39678</b> samples in total.
                                    Users can click the <a href="/database/overview">database overview</a> page to check the panorama of TIMEDB database with visualizations available.</p>
                                    <img src="/public/data/image/tutorial/1-1ppt.gif" class="page-image">
                                    <img src="/public/data/image/tutorial/2-1ppt.png" class="page-image">
                                    <img src="/public/data/image/tutorial/2-2ppt.png" class="page-image">
                                    <br>
                                    <br>
                                    <hr>
                                    <br>
                                    <h1>2. Detailed Information</h1>
                                    <br>
                                    <p>Users can view detailed information with various visualizations for individual cancer types, datasets and samples.
                                    Taking one dataset - TCGA_ACC as an example, you can enter its showing page from the ACC cancers showing page, or from the datasets index page which stores overall databsets records.</p>
                                    
                                    <p>Project showing pages contains three parts, detailed sample records table, C1-C6 subtyping visualizations and cell fraction visualizations. Users can download interested sample records from our databse into CSV files, as well as get access to fruitful related documents incuding cell composition files, gene expression profiles, clinical data, subtyping files, etc.
                                    Moreover, various visualizations, including landscape heatmap, surival line chart, etc, help users conduct deeper investigation for this dataset. 
                                    </p>
                                    <img src="/public/data/image/tutorial/1-6ppt.gif" class="page-image">
                                    <img src="/public/data/image/tutorial/5-2ppt.png" class="page-image">
                                    <img src="/public/data/image/tutorial/5-4ppt.png" class="page-image">

                                </div>
                            </div>
                            <br><br>

                        </div>

                    </div>
                </div>
            </div>