<% content_for :title, 'Tutorial Database' %>

            <div class="row">
                <nav id="sidebar" class="active">
                    <div class="sidebar-content">
                        <div>
                            <a href="/tutorial">
                            <p>
                            <i class="fa fa-arrow-left"></i>Back to TIMEDB
                            </p>
                            </a>
                        </div>
                        <div class="sidebar-tutorial-toggle">
                            <a href="#">
                            <p style="color: #35478E">Database &nbsp<i class="fa fa-angle-down" id="arrow"></i>
                            </p>
                            </a>
                            <ul id="side-tutorial-bar" class="">
                                <a href="/tutorial/database/1" ><li style="color: #35478E" class="active1">Database Introduction</li></a>
                                <a href="/tutorial/database/2" ><li style="color: #35478E">How to View Database Information</li></a>
                                <%# <a href="/tutorial/database/3"><li style="color: #35478E">How to Add Data to Your Workspace</li></a> %>
                                <a href="/tutorial/database/4"><li style="color: #35478E">How to Download Database Data</li></a>
                                <%# <a href="/tutorial/database/5"><li style="color: #35478E">How to View the Visualizations</li></a> %>
                                <a href="/tutorial/database/6"><li style="color: #35478E">Visualizations in the Database</li></a>
                            </ul>
                        </div>
                        <div class="sidebar-tutorial-toggle-1">
                            <a href="#">
                            <p style="color: #cc4f78">Analysis &nbsp<i class="fa fa-angle-down" id="arrow-1"></i>
                            </p>
                            </a>
                            <ul id="side-tutorial-bar-1" class="">
                                <a href="/tutorial/analysis/1"><li style="color: #cc4f78">Analysis Introduction</li></a>
                                <a href="/tutorial/analysis/2" ><li style="color: #cc4f78">How to Complete an Analysis</li></a>
                                <a href="/tutorial/analysis/3"><li style="color: #cc4f78">What Analysis We Have</li></a>
                            </ul>
                        </div>
                        <div class="">
                            <a href="/tutorial/analysis/4">
                            <p>Help
                            </p>
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="col-md-8 offset-1">
                    <br><br>

                    <div>

                        <h1 class ="title">
                            <a href="/tutorial"><i class="fa fa-backward"></i></a> Database Introduction
                        </h1><br>
                        <div class="page">
                            <div>
                                <div class="headers">
                                <br>
                                    <hr>
                                    <br>
                                    <h1>Welcome to TIMEDB database</h1>
                                    <br>
                                    <p>TIMEDB provides the tumor immune micro-enviornment (TIME) cell proportions from bulk expression profiles of <b>35,000 + samples</b> and <b>500+ datasets</b> across <b>43 cancer types</b>.
                                    Users can download the following files directly from TIMEDB:
                                    </p>
                                    <br>
                                </div>
                                <%# <img src="/public/data/image/tutorial/1ppt.png" class="page-image"> %>
                            </div>
                            <div>
                                <div class="headers">
                                    <br>
                                    <h3>1. Gene expression file and meta file</h3>
                                    <br>
                                    <ul>
                                        <li><code>Gene expression file</code>: The gene expression file stores the bulk gene expression of tumor samples, with sample as column and gene as row.</li>
                                        <li><code>Clinical file</code>: The clinical file stores the manually curated clinical information of the sample, such as age, gender, etc. Each row is a sample and each column is a clinical feature.</li>
                                        <li><code>Scaled immmunoregulator expression file</code>: The scaled gene expression profiles of seventy-nine immunoregular genes. <sup>[1]</sup></li>
                                    </ul>
                                    <br>
                                    <br>
                                    <h3>2. TIME cell estimation result file</h3>
                                    <br>
                                    <p style="margin-left:20px;">TIMEDB uses <strong>ABIS, CIBERSORT, CIBERSORTX, ConsensusTME, EPIC, ImmucellAI, Mcpcounter, quanTIseq and TIMER</strong> to quantify the cells in tumor microenvironment.  Users can download the following TIME estimation results. </p>
                                    <ul>
                                        <li><code>ABIS estimation result file</code>: TIME estimation result from ABIS. <sup>[2]</sup></li>
                                        <li><code>CIBERSORT estimation result file</code>: TIME estimation result from CIBERSORT. <sup>[3]</sup></li>
                                        <li><code>CIBERSORTx estimation result file</code>: TIME estimation result from online website <a href="https://cibersortx.stanford.edu/index.php">CIBERSORTx</a>. <sup>[4]</sup></li>
                                        <li> <code>EPIC estimation result file</code>: TIME estimation result from EPIC. (Applicable only for RNA-Seq count data.) <sup>[5]</sup></li>
                                        <li> <code>ImmuCellAI estimation result file</code>: TIME estimation result from online website <a href="http://bioinfo.life.hust.edu.cn/ImmuCellAI#!/">ImmuCellAI</a>. <sup>[6]</sup> </li>
                                        <li> <code>Mcpcounter estimation result file</code>: TIME estimation result from Mcpcounter. <sup>[7]</sup> </li>
                                        <li> <code>ConsensusTME estimation result file</code>: TIME estimation result from ConsensusTME. (Applicable only for 32 TCGA cancer types.) <sup>[8]</sup> </li>
                                        <li> <code>TIMER estimation result file</code>: TIME estimation result from ConsensusTME. (Applicable only for 32 TCGA cancer types.)  <sup>[9]</sup> </li>
                                        <li> <code>quanTIseq estimation result file</code>: TIME estimation result from quanTIseq. <sup>[10]</sup> </li>
                                        <li> <code>xCell estimation result file</code>: TIME estimation result from xCell. <sup>[11]</sup> </li>
                                        <li> <code>TIME Consensus estimation result file</code>: This file stores the TIME estimation result of common cell types occured one than once from nine estimation tools.(<a href="/public/data/consensus_mapping.csv">download the cell mapping file</a>) <sup>[2-11]</sup> </li>
                                        <li> <code>TIME All estimation result file</code>: This file stores the TIME estimation result of all cell types from nine estimation tools. <sup>[2-11]</sup> </li>
                                    </ul>
                                    <br>
                                    <br>
                                    <h3>3. C1-C6 subtyping result file</h3>
                                        <br>
                                        <p style="margin-left:20px;">TIMEDB adopts <strong>ImmuneSubtypeClassifier</strong> <sup>[12, 13]</sup>  to catelogue the immune subtype of tumor samples based on gene expression levels. Users can download the result file which shows the probability of sample being six immune status, including C1 (wound healing), C2 (IFN-γ dominant),C3 (inflammatory), C4 (lymphocyte depleted), C5 (immuno-logically quiet), and C6 (TGF-β dominant). </p>
                                    <br>
                                    <br>
                                    <hr>
                                    <br>
                                    <br>
                                    <h1>Database usage</h1>
                                    <br>
                                    <p>TIMEDB provides four parts to show data with visualizations available: "Database overview", "Cancers", "Datasets" and "Samples".</p>
                                    <%# <img src="/public/data/image/tutorial/2-1ppt.png" class="page-image"> %>
                                    <br>
                                    <h3>1. Overview</h3>
                                    <br>
                                    <p>Users can look through the <a href="/database/overview">"Overview"</a> page to check a comprehensive panorama of the TIMEDB database. </p>
                                    <ul>
                                        <li>Users can click anatomy icons to query one specific cancer in detail.</li>
                                            <img src="/public/data/image/tutorial/1-1ppt.gif" class="border-image" style="width:420px;height: 300px;">

                                            <%# <div class="row">
                                                <div class="col-md-3"></div>
                                                <div class="col-md-4">
                                                    <img src="/public/data/image/tutorial/1-1ppt.gif" class="border-image" style="width:420px;height: 300px;">
                                                </div>
                                                <div class="col-md-5"></div>
                                            </div> %>
                                            <br><br>
                                            <li>Users can explore various visualizations.
                                                <br>
                                                <img src="/public/data/image/tutorial/1-2ppt.gif" class="high-image">
                                                <img src="/public/data/image/tutorial/1-3ppt.gif" class="high-image">
                                                <img src="/public/data/image/tutorial/1-4ppt.gif" class="high-image">
                                            </li>

                                    </ul>
                                    
                                    <h3 id="cancer">2. Cancers</h3>
                                    <br>
                                    <p>Users can click <button class="btn btn-1"> details </button> button in the <a href="/cancers">"Cancers"</a> showing page to query one specific dataset. <br><p>
                                    <img src="/public/data/image/tutorial/1-5ppt.gif" class="border-image" style="width:450px;height: 300px;">
                                    <%# <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-4">
                                            <img src="/public/data/image/tutorial/1-5ppt.gif" class="border-image" style="width:450px;height: 300px;">
                                        </div>
                                        <div class="col-md-5"></div>
                                    </div> %>

                                    <h3 id="project">3. Datasets</h3>
                                    <br>
                                    <p>Users can also explore one specific datasets from the <a href="/projects">"Dataset"</a> index page.</p>
                                    <img src="/public/data/image/tutorial/1-6ppt.gif" class="border-image" style="width:500px;height: 280px;">

                                    

                                    <p>Dataset tables show detailed clinical information from different datasets, which may contains serveral samples individually. Basic samples information will includes:</p>
                                    <ul>
                                        <li><code>sample_name</code>: the name of donor.</li>
                                        <li><code>dataset_name</code>: the name of dataset.</li>
                                        <li><code>race</code>: the race of donor.</li>
                                        <li><code>gender</code>: the gender of donor.</li>
                                        <li><code>age</code>:  the age of donor.</li>
                                        <li><code>weight</code>: the weight of donor.</li>
                                        <li><code>height</code>:  the height of donor.</li>
                                        <li><code>cancer_name</code>: available for cancer donor, the cancer type classification, e.g. <code>OV</code>, <code>LUSC</code>.</li>
                                        <li><code>tumor_type</code>: available for cancer donor, the detailed cancer type.</li>
                                        <li><code>tumor_subtype</code>: available for cancer donor, the cancer subtype.</li>
                                        <li><code>tumor_grade</code>: available for cancer donor, e.g. <code>GradeI</code>, <code>GradeII</code>.</li>
                                        <li><code>tumor_stage</code>: available for cancer donor, e.g. <code>StageI</code>, <code>StageII</code>. </li>
                                        <li><code>os</code>: available for cancer or diease donor, overall survival, the length of days from either the date of diagnosis or the start of treatment, that a patient still alive.</li>
                                        <li><code>os_status</code>: available for cancer donor, the os outcome, binary, value of 1 for death, 0 for alive.</li>
                                        <li><code>pfs</code>: available for cancer or diease donor, progression-free survival, the length of days during and after the treatment, that a patient lives with the disease but it does not get worse.</li>
                                        <li><code>pfs_status</code>: available for cancer donor, the pfs outcome, binary, value of 1 for pregression or recurrence, 0 for otherwise.</li>
                                    </ul>
                                    <p>The Dataset visulization part has two sub-parts:</p>
                                    <ul>
                                        <li>C1_C6 subtyping overview: visualizations about immune subtype for tumor samples.</li>
                                        <img src="/public/data/image/tutorial/5-2ppt.png" class="border-image" style="width: 500px; height: 280px;">
                                        <li>TIME estimation overview: visualizations about TIME estimation.</li>
                                        <img src="/public/data/image/tutorial/5-4ppt.png" class="border-image" style="width: 500px; height: 265px;">

                                    </ul>
                                    <br><br>

                                    <h3>4. Sample</h3>
                                    <br>
                                    <p>Users can click and check detailed samples information in <a href="/samples">"sample"</a> index page. For most samples, we provide visualizations for its immune cell type compositions estimated from different methods.</p>
                                    <br>
                                    <hr>
                                    <br>
                                    <h1>Interactive visualizations</h1>
                                    <p>The visualizations provided are interactive, whose features include changeing color and text size, rotating labels and multiple online adjustment options contained but not all listed.</p>
                                    <img src="/public/data/image/tutorial/1-8ppt.gif" class="middle-image">
                                    <img src="/public/data/image/tutorial/1-9ppt.gif" class="middle-image">
                                    <img src="/public/data/image/tutorial/1-10ppt.gif" class="middle-image">
                                    <br>
                                    <br>
                                    <h1>
                                        Citations
                                        <button class="ml-2 btn btn-outline-secondary" data-toggle="collapse" data-target="#detailed_citations" aria-expanded="true" aria-controls="detailed_citations">
                                            <i class="fas fa-eye"></i>Details
                                        </button>
                                    </h1>
                                    <div id="detailed_citations" class="collapse">
                                    <br>
                                    <em>[1] Vésteinn Thorsson, David L Gibbs, Scott D Brown, Denise Wolf, Dante S Bortone, TaiHsien Ou Yang, Eduard Porta-Pardo, Galen F Gao, Christopher L Plaisier, James A Eddy,et al. The immune landscape of cancer. Immunity, 51(2):411–412, 2019.</em><br>
                                    <em>[2] Gianni Monaco, Bernett Lee, Weili Xu, Seri Mustafah, You Yi Hwang, Christophe Carré,Nicolas Burdin, Lucian Visan, Michele Ceccarelli, Michael Poidinger, et al. Rna-seq signatures normalized by mrna abundance allow absolute deconvolution of human immune cell types. Cell reports, 26(6):1627–1640, 2019.</em><br>
                                    <em>[3] Aaron M Newman, Chih Long Liu, Michael R Green, Andrew J Gentles, Weiguo Feng, Yue Xu, Chuong D Hoang, Maximilian Diehn, and Ash A Alizadeh. Robust enumeration of cell subsets from tissue expression profiles. Nature methods, 12(5):453–457, 2015.</em><br>
                                    <em>[4] A. M. Newman, C. B. Steen, C. L. Liu, A. J. Gentles, A. A. Chaudhuri, F. Scherer, M. S. Khodadoust, M. S. Esfahani, B. A. Luca, and D. Steiner. Determining cell type abundance and expression from bulk tissues with digital cytometry. Nature biotechnology, 37(7):773, 2019.</em><br>
                                    <em>[5] J. Racle, Kaat De Jonge, P. Baumgaertner, D. E. Speiser, and D. Gfeller. Simultaneous enumeration of cancer and immune cell types from bulk tumor gene expression data. eLife,6,(2017-11-10), 6, 2017.</em><br>
                                    <em>[6] Ya Ru Miao, Qiong Zhang, Qian Lei, Mei Luo, and An Yuan Guo. Immucellai: a unique method for comprehensive t-cell subsets abundance prediction and its application in cancer immunotherapy. 2019.</em><br>
                                    <em>[7] Becht E, Giraldo NA, Lacroix L, Buttard B, Elarouci N, Petitprez F, Selves J, Laurent-Puig P, Sautès-Fridman C, Fridman WH, de Reyniès A. Estimating the population abundance of tissue-infiltrating immune and stromal cell populations using gene expression. Genome Biol. 2016 Oct 20;17(1):218.</em><br>
                                    <em>[8] Alejandro Jiménez-Sánchez, Oliver Cast, and Martin L Miller. Comprehensive benchmarking and integration of tumor microenvironment cell estimation methods. Cancer Research, 79(24):6238–6246, 2019.</em><br>
                                    <em>[9] T. Li, J. Fan, B. Wang, N. Traugh, Q. Chen, J. S. Liu, B. Li, and X. S. Liu. Timer: A web server for comprehensive analysis of tumor-infiltrating immune cells. Cancer Research, 77(21):e108, 2017.</em><br>
                                    <em>[10] Francesca Finotello, Clemens Mayer, Christina Plattner, Gerhard Laschober, Dietmar Rieder, Hubert Hackl, Anne Krogsdam, Zuzana Loncova, Wilfried Posch, Doris Wilflingseder, et al. Molecular and pharmacological modulators of the tumor immune contexture revealed by deconvolution of rna-seq data. Genome medicine, 11(1):1–20, 2019.</em><br>
                                    <em>[11] D. Aran, Z. Hu, and A. J. Butte. xcell: digitally portraying the tissue cellular heterogeneity landscape. Genome Biology, 18(1):220, 2017.</em><br>
                                    <em>[12] David L Gibbs. Robust classification of immune subtypes in cancer. bioRxiv, 2020.</em><br>
                                    <em>[13] James A Eddy, Vésteinn Thorsson, Andrew E Lamb, David L Gibbs, Carolina Heimann, Jia Xin Yu, Verena Chung, Yooree Chae, Kristen Dang, Benjamin G Vincent, et al. Criiatlas: an interactive portal for immuno-oncology research. F1000Research, 9, 2020.</em><br>
                                    </div>
                                </div>

                            </div>

                            <br><br>

                        </div>

                    </div>
                </div>
            </div>