
<% content_for :title, 'Tutorial Database' %>

            <div class="row">
                <nav id="sidebar" class="active">
                    <div class="sidebar-content">
                        <div>
                            <a href="/tutorial">
                            <p>
                            <i class="fa fa-arrow-left"></i>Back
                            </p>
                            </a>
                        </div>
                        <div>
                            <a href="/tutorial/database/1">
                            <p>Introduction
                            </p>
                            </a>
                        </div>
                        <div class="sidebar-tutorial-toggle">
                            <a href="#">
                            <p>Usages &nbsp<i class="fa fa-angle-down" id="arrow"></i>
                            </p>
                            </a>
                            <ul id="side-tutorial-bar" class="">
                                <a href="/tutorial/database/2"><li >How to View Database Information</li></a>
                                <a href="/tutorial/database/3"><li>How to Add Data to Your Workspace</li></a>
                                <a href="/tutorial/database/4"><li  class="active1">How to Download Database Data</li></a>
                                <a href="/tutorial/database/5"><li>How to View the Visualizations</li></a>
                                <a href="/tutorial/database/6"><li>How to Download the Visualizations</li></a>
                            </ul>
                        </div>
                        <div class="">
                            <a href="/tutorial/analysis/1">
                            <p>Analysis  documentation
                            </p>
                            </a>
                        </div>
                        <div class="">
                            <a href="/tutorial/analysis/4">
                            <p>Help
                            </p>
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="col-md-8 offset-1">
                    <br><br>

                    <div>

                        <h1 class ="title">
                            <a href="/tutorial"><i class="fa fa-backward"></i></a> How to Download Database Data
                        </h1><br>
                        <div class="page">
                            <div>
                                <div class="headers">
                                    <h1>Download data from Download Page</h1>
                                    <p>The Download page contains the relative files of all datasets.</p>
                                    <img src="/public/data/image/tutorial/4-0ppt.jpg" class="page-image">
                                    <h1>Download the data from the dataset</h1>
                                    <img src="/public/data/image/tutorial/4-1ppt.jpg" class="page-image">
                                    <h1>Download data from datasets</h1>
                                    <img src="/public/data/image/tutorial/9.png" class="page-image">
                                    <h1>Download data from samples</h1>
                                    <img src="/public/data/image/tutorial/4-3ppt.jpg" class="page-image">
                                </div>
                            </div>
                            <br><br>

                        </div>      

                    </div>
                </div>
            </div>