<% content_for :title, 'Tutorial Database' %>

            <br><br>
            <div class="row">
                <div class="sidebar">
                        <ul class="nav flex-column sidebar-nav ">
                            <a href="/tutorial">
                                <li class="nav-item">
                                    <p class="nav-link" >Back to Tutorial Home Page</p>
                                </li>
                            </a>
                            <br>
                            <a href="/tutorial/database/1">
                            <li class="nav-item">
                                <p class="nav-link" >Introduction</p>
                            </li>
                            </a>
                            <br>
                            <a href="/tutorial/database/2">
                            <li class="nav-item" >
                                <p class="nav-link ">How to View Database Information</p>
                            </li>
                            </a>
                            <br>

                            <a href="/tutorial/database/3">
                            <li class="nav-item" >
                                <p class="nav-link" >How to Add Data to Your Workspace</p>
                            </li>
                            </a>
                            <br>

                            <a href="/tutorial/database/4">
                            <li class="nav-item">
                                <p class="nav-link" href="#"> How to Download Database Data</p>
                            </li>
                            </a>
                            <br>
                            <a href="/tutorial/database/5">
                            <li class="nav-item">
                                <p class="nav-link" >How to View the Visualization Plots</p>
                            </li>
                            </a>
                            <br>
                            <a href="/tutorial/database/6">
                            <li class="nav-item" >
                                <p class="nav-link" > How to Download the Visualization Plots</p>
                            </li>
                            </a>
                            <br>
                            <a href="/tutorial/analysis/1">
                                <li class="nav-item">
                                    <p class="nav-link" > Analysis Tutorial</p>
                                </li>
                            </a>
                        </ul>
                        <br>
                </div>

                <div class="col-md-8 offset-1">

                    <div>

                        <h1 class ="title">
                            <a href="/tutorial"><i class="fa fa-backward"></i></a>  How to download the visualization plots
                        </h1><br>
                        <div class="page">
                            <div>
                                <div class="headers">
                                    <ul>
                                    <li>Click the Download all charts button to download all Charts. </li>
                                    <li>Click the Download button to download chart and relative data files.</li>
                                    </ul>
                                    <img src="/public/data/image/tutorial/6-1ppt.png" class="page-image">

                                </div>
                            </div>
                            <br><br>
                        </div> 

                    </div>
                </div>
            </div>