    <% content_for :title, 'Tutorial Database' %>

            <br><br>
            <div class="row">
                <div class="sidebar">
                        <ul class="nav flex-column sidebar-nav">
                            <a href="/tutorial">
                                <li class="nav-item">
                                    <p class="nav-link" >Back to Tutorial Home Page</p>
                                </li>
                            </a>
                            <br>
                            <a href="/tutorial/database/1">
                                <li class="nav-item">
                                    <p class="nav-link" >Introduction</p>
                                </li>
                            </a>
                            <br>
                            <a href="/tutorial/database/2">
                                <li class="nav-item">
                                    <p class="nav-link ">How to View Database Information</p>
                                </li>
                            </a>
                            <br>
                            <a href="/tutorial/database/3">
                                <li class="nav-item" >
                                    <p class="nav-link" >How to Add Data to Your Workspace</p>
                                </li>
                            </a>
                            <br>
                            <a href="/tutorial/database/4">

                                <li class="nav-item" >
                                    <p class="nav-link"> How to Download Database Data</p>
                                </li>
                            </a>
                            <br>
                            <a href="/tutorial/database/5">
                                <li class="nav-item">
                                    <p class="nav-link" >How to View the Visualizations</p>
                                </li>
                            </a>
                            <br>
                            <a href="/tutorial/database/6">
                                <li class="nav-item" >
                                    <p class="nav-link" > How to Download the Visualizations</p>
                                </li>
                            </a>
                            <br>
                            <a href="/tutorial/analysis/1">
                                <li class="nav-item">
                                    <p class="nav-link" > Analysis Tutorial</p>
                                </li>
                            </a>
                            <br>
                            <a href="/tutorial/analysis/4">
                                <li class="nav-item" >
                                    <p class="nav-link">How to Ask Us for Help</p>
                                </li>
                            </a>
                        </ul>
                        <br>
                </div>

                <div class="col-md-8 offset-1">

                    <div>

                        <h1 class ="title">
                            <a href="/tutorial"><i class="fa fa-backward"></i></a> How to view the  visualization plots of project and sample
                        </h1><br>
                        <div class="page">
                            <div>
                                <div class="headers">
                                    <h1>You can view the visualizations plot of each Project</h1>
                                    <p>The visualizations we provide are interactive, you can use the editor to do some personal change.</p>
                                    <h2> "C1_C6 subtyping overview": visualization about immune subtype of tumor samples.</h2>
                                    <img src="/public/data/image/tutorial/5-1ppt.png" class="page-image">
                                    <img src="/public/data/image/tutorial/5-2ppt.png" class="page-image">
                                    <br>
                                    <h2>"TIME estimation overview": visualization about TIME estimation.</h2>
                                    <img src="/public/data/image/tutorial/5-3ppt.png" class="page-image">
                                    <img src="/public/data/image/tutorial/5-4ppt.png" class="page-image">
                                </div>
                            </div>
                            <br><br>
                        </div> 

                    </div>
                </div>
            </div>