<% content_for :title, 'Tutorial Database' %>

            <div class="row">
                <nav id="sidebar" class="active">
                    <div class="sidebar-content">
                        <div>
                            <a href="/tutorial">
                            <p>
                            <i class="fa fa-arrow-left"></i>Back to TIMEDB
                            </p>
                            </a>
                        </div>
                        <div class="sidebar-tutorial-toggle">
                            <a href="#">
                            <p style="color: #35478E">Database &nbsp<i class="fa fa-angle-down" id="arrow"></i>
                            </p>
                            </a>
                            <ul id="side-tutorial-bar" class="">
                                <a href="/tutorial/database/1" ><li style="color: #35478E">Database Introduction</li></a>
                                <a href="/tutorial/database/2" ><li style="color: #35478E">How to View Database Information</li></a>
                                <%# <a href="/tutorial/database/3"><li style="color: #35478E">How to Add Data to Your Workspace</li></a> %>
                                <a href="/tutorial/database/3"><li style="color: #35478E">How to Download Database Data</li></a>
                                <%# <a href="/tutorial/database/5"><li style="color: #35478E">How to View the Visualizations</li></a> %>
                                <a href="/tutorial/database/4"><li style="color: #35478E" class="active1">Visualizations in the Database</li></a>
                            </ul>
                        </div>
                        <div class="sidebar-tutorial-toggle-1">
                            <a href="#">
                            <p style="color: #cc4f78">Analysis &nbsp<i class="fa fa-angle-down" id="arrow-1"></i>
                            </p>
                            </a>
                            <ul id="side-tutorial-bar-1" class="">
                                <a href="/tutorial/analysis/1"><li style="color: #cc4f78">Analysis Introduction</li></a>
                                <a href="/tutorial/analysis/2" ><li style="color: #cc4f78">How to Complete an Analysis</li></a>
                                <a href="/tutorial/analysis/3"><li style="color: #cc4f78">What Analysis We Have</li></a>
                            </ul>
                        </div>
                        <div class="">
                            <a href="/tutorial/analysis/4">
                            <p>Help
                            </p>
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="col-md-8 offset-1">
                    <br><br>

                    <div>

                        <h1 class ="title">
                            <a href="/tutorial"><i class="fa fa-backward"></i></a>  Visualizations in the Database
                        </h1><br>
                        <div class="page">
                            <div>
                                <div class="headers">
                                    <h2>1. Database Overview</h2>
                                    <br>
                                    <p> We provide several visualizations for the whole databse overview, including, bar charts for datasets and samples statistics, pie charts for cell composition estimation of each dataset and each state-of-art tool, C1-C6 landscape for subtyping data, and heatmaps for scaled gene expression profiles.
                                    </p>
                                    <img src="/public/data/image/tutorial/database-viz1.png" class="border-image" style="width:300px; height: 220px;">
                                    <img src="/public/data/image/tutorial/database-viz2.png" class="border-image" style="width:300px; height: 220px;">
                                    <img src="/public/data/image/tutorial/database-viz3.png" class="border-image" style="width:300px; height: 220px;">
                                    <br>
                                    <hr>
                                    <br>
                                    <h2>2. Dataset details</h2>
                                    <p>
                                    Visualizations in dataset detailed pages fall into two categories, C1-C6 subtyping vizs and cell fraction plots.
                                    </p>
                                    <p> "C1_C6 subtyping overview": visualization about immune subtype of tumor samples.</p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="/public/data/image/tutorial/5-2ppt.png" class="border-image" style="width:420px; height: 220px;">
                                        </div>
                                        <div class="col-md-2">
                                            
                                        </div>
                                        <div class="col-md-4">
                                            <img src="/public/data/image/tutorial/5-4ppt.png" class="border-image" style="width:420px; height: 220px;">
                                        </div>
                                        
                                    </div>

                                    <%# <br>
                                    <p>"TIME estimation overview": visualization about TIME estimation.</p>
                                    <img src="/public/data/image/tutorial/5-3ppt.png" class="flat-image"> %>
                                    <br>
                                    <hr>
                                    <br>
                                    <h2>3. Samples cell Fraction</h2>
                                    <p>For each samples, we provid pie plots for TIC composition estimated from 10 state-of-art tools. Users can use selector to change different estimation results for horizontal comparisons.
                                    </p>
                                    <img src="/public/data/image/tutorial/sample-viz.png" class="border-image"  style="width: 500px; height: 340px;">
                                    <br>
                                    <hr>
                                    <br>
                                    <h2>4. Visualizations downloading</h2>
                                    <br>

                                    <p>All visualizations we provided are allowed to download. Users can click the button next to plot itself to easily download the corresponding visualizations. Specifically for individual dataset showing pages, user can download all visualizations together for futhur exploration.</p>
                                    <img src="/public/data/image/tutorial/6-1ppt.png" class="border-image"  style="width: 500px; height: 340px;">

                                </div>
                            </div>
                            <br><br>
                        </div> 

                    </div>
                </div>
            </div>