<% content_for :head do %>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<%end%>

<div id="head" class="container Block">
    <h1>
        Database Overview
    </h1>
    <div class="row">
        <div class="col">
            version:1.0
        </div>
        <div class="col">
            release date: 2021-02-07
        </div>
        <div class="col">
            samples: 
        </div>
        <div class="col">
            diease:
        </div>
    </div>
    <br/>
</div>
<div id = "world-map" class = "container Block"> </div>


<%=javascript_pack_tag 'db-overview-viz'%>
